.top {
    margin-top: 2rem;
}

img.plus-icon {
    max-width: 6.2rem;
    cursor: pointer;
}

div.card-body {
    button {
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }
}

.card {
    height: 15rem !important;
}